<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>w i ta n k o</title>
</head>
<body>
    <h1>witaj</h1>
    <h1 th:text="${name}"></h1>
<br/><br/><p1>pozostale widoki:</p1>
<a href="http://localhost:8080/f">formularz</a>
<a href="http://localhost:8080/">główna</a><br/><br/>
</body>
</html>